
body {
    background-color: #000000;
}
.banner {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(49, 168, 221, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%), url('/assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 605px;
    padding: 50px;
    border-bottom: 1px solid #33A8DB80;
}
.banner .banner-content{
    width: 600px;
    height: 395px;
    margin: auto;
    text-align: center;
    size: 20px;
    color: #ffffff;
}
.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}
.banner .logo img {
   margin: auto;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.banner h1 {
    font-family: "Raleway";
    font-size: 40px;
    font-weight: 900;
    background-image: linear-gradient(#33a8d8, #1472b7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
}
.banner p {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 20px;
    margin: 16px 0 24px;
    text-align: center;
}
.banner .banner-content button {
    font-family: "Raleway";
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 3px;    
    padding: 15px 35px;
    background-image: linear-gradient(#3ba1cd, #1572b7);
    background-clip: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    width: 326px;
    height: 57px;
    border-color: #33A8DB;
}
#course-content {
    text-align: center;
    width: auto;
    height: auto;    
    color: #ffffff;    
    font-family: "Raleway";
}
#course-content .module-list {
    margin: 25px 0;
}
#course-content .module-list .module {
    width: 535px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    border: 1px solid #33A8DB;
    border-radius: 100px;
}
#course-content .module-list .module p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
#course-content .module-list .module span {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #33a8d8;
}
#transform-world {
    font-family: "Raleway";
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 3px 2px 0 #33A8DB;
    text-transform: lowercase;
}
#professional-challenges {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 32px;
    color: #33a8d8;
}
footer {
    text-align: center;
}
@font-face {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')
}